.root {
  position: relative;
}

.input:focus {
  outline: 2px solid #7539d6;
  outline-offset: -1px;
}

.input {
  background: #F9F9F9;
  width: 368px;
  height: 56px;
  border-radius: 8px;
  margin-left: 11px;
  /* margin-top: -27px; */
  ;
}

.label {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  z-index: 2;
  top: 20px;
  left: 27px;
  pointer-events: none;
  color: rgb(68, 67, 67);
  transition: transform 150ms ease, font-size 150ms ease, color 150ms ease;
}

/* Floating label when input is focused or has a value */
.input:focus-within .label,
.floating .label {
  transform: translateY(-18px);
  font-size: 0.8rem;
  font-weight: 500;
  color: #7539d6;
  background-color: white;
}

.purpleBorder input:focus {
  border: 2px solid #7539d6 !important;
  outline: none;
}



/* New styles for mobile devices */
@media screen and (max-width: 768px) {
  .input {
    width: 100%;
   margin-left: 0;
  }
}
